.signup_cont {
  padding: 2vw 3vw;
  background-color: white;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.signup_head {
  padding: 0.7em 0em 2em;
}
.signup_head > p {
  font-size: 0.7em;
  color: #4f4f4f;
  padding-top: 0.4em;
}
.signup_imgsec {
  display: flex;
  align-items: center;
}
.signup_imgsec > p {
  font-size: 1em;
  padding: 0.5em 0.5em;
}
.signup_img {
  position: relative;
  height: 20px;
  width: 20px;
}
.signup_form {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.signup_form_sec {
  padding: 0.6em 0em;
}
.signup_form_left,
.signup_form_right {
  flex: 50%;
  padding: 0em 0.7em;
}
.signup_form_sec > input {
  width: 100%;
  font-size: 1em;
  padding: 0.8em 1em;
  border: none;
  background-color: #f2f2f2;
}

.formSelectInput {
  padding: 3%;
  width: 100%;
  margin-top: 2%;
  font-size: 16px;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: 0;
}

.signup_button_cont {
  margin: 2em 0em 2em;
  width: 100%;
}
.signup_button {
  padding: 0.7em 2em;
  font-size: 1.3em;
  width: 100%;
  border: none;
  background-color: #4a788d;
  border-radius: 8px;
  color: white;
}
.linkSup {
  font-size: 1em;
  text-align: center;
  white-space: nowrap;
  padding-top: 0.5em;
  cursor: pointer;
}
.auth_crossButton {
  position: absolute;
  top: 40px;
  right: 40px;
}
.authError {
  text-align: center;
  color: rgb(103, 6, 6);
  padding: 0.3vw 1vw;
  font-size: 0.8em;
  font-weight: 600;
}
.auth_crossButton > svg {
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 1200px) {
  .signup_form {
    width: 100%;
    flex-direction: row;
  }
  .signup_form_sec > input {
    font-size: 1em;
  }
  .signup_button {
    font-size: 1.4em;
  }
  .linkSup {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1440px) {
  .signup_cont {
    padding: 2vw 3vw;
    background-color: white;
    height: 100%;
    width: 100%;
  }
  .signup_head {
    padding: 0.7em 0em 2em;
  }
  .signup_head > p {
    font-size: 0.7em;
    color: #4f4f4f;
    padding-top: 0.4em;
  }
  .signup_imgsec {
    display: flex;
    align-items: center;
  }
  .signup_imgsec > p {
    font-size: 0.8em;
    padding: 0.8em 0.5em;
  }
  .signup_img {
    position: relative;
    height: 27px;
    width: 27px;
  }
  .signup_form {
    display: flex;
    width: 80%;
    flex-direction: row;
  }
  .signup_form_sec {
    padding: 0.6em 0em;
  }
  .signup_form_left,
  .signup_form_right {
    flex: 50%;
    padding: 0em 0.7em;
  }
  .signup_form_sec > input {
    width: 100%;
    font-size: 0.8em;
    padding: 0.8em 1em;
    border: none;
    background-color: #f2f2f2;
  }
  .signup_button_cont {
    margin: 2em 0em 2em;
    width: 80%;
  }
  .signup_button {
    padding: 0.7em 2em;
    font-size: 1em;
    width: 100%;
    border: none;
    background-color: #4a788d;
    border-radius: 8px;
    color: white;
  }
  .linkSup {
    font-size: 0.9em;
    text-align: right;
    padding-top: 0.5em;
    cursor: pointer;
  }
  .auth_crossButton {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .auth_crossButton > svg {
    width: 20px;
    height: 20px;
  }
}
