.ExamHeading{
    max-width:  75%;
    padding: 3vw 0px 3vw 5vw;
    font-weight: 500;
    font-size: 1.5vw;
}
.ExamGetUpdateButton{
    background: #F2F2F2;
    color: #4A788D;
    position: absolute;
    right: 0;
    margin: 3vw 2vw 3vw 0px;
    font-size: 1.2vw;
    font-weight: 400;
    padding: .8vw 5vw;
    border: none;
    border-radius: 10px;
}
.ExamHeadingContainer{
    display: flex;
    border-bottom: 3px solid #F2F2F2;
}
.ExamContentContainer{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: left;
    padding: 4em 0em 0em 0em;
}
.ExamSubHeadings{
    width: 30%;
    border-right: 3px solid #F2F2F2;
    border-bottom: 3px solid #F2F2F2;
    padding: 1em 0em;
}
.ArticleContent{
    padding: 0vw 2.5vw;
    width:140%
}
.Notifications{
    /* display: grid; */
    margin: 0vw 2vw 0vw 0vw;
    /* white-space: nowrap; */
    align-content: center;
}
/* .ExamContentHeadings{
    
} */