@import "../../styles/vars.scss";

.homeCollegesSection {
  padding: 5%;
  margin: 3%;
}

.homeCollegesHeading {
  border-left: 5px solid #333366;
  padding-left: 3%;
  margin-bottom: 1em;
}

.homeCollegesHeading > h2 {
  margin: 0;
  color: #333366;
  font-size: 2.5em;
}

.homeCollegesHeading > p {
  margin-top: 8px;
}

.homeCollegesCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2% 0%;
}

.homeCardWrapper {
  width: 42%;
  margin: 1%;
}

.homeCardWrapper > div {
  width: 100%;
  height: 100%;
}

.homeCollegesBtnWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.homeCollegesBtnWrapper > button {
  background-color: $primary-color;
  padding: 0.8% 2%;
  border-radius: 8px;
  border: none;
  margin-top: 2%;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .homeCardWrapper {
    width: 45%;
  }
  .homeCollegesHeading > h2 {
    font-size: 2em;
  }

  .homeCollegesHeading > p {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 900px) {
  .homeCardWrapper {
    width: 48%;
    margin: 0;
  }
}
// @media only screen and (max-width: 696px) {
//   .homeCardWrapper {
//     width: 80%;
//   }
// }
@media only screen and (max-width: 600px) {
  .homeCollegesHeading > h2 {
    font-size: 1.7em;
    // white-space: nowrap;
  }
  .homeCollegesHeading {
    padding-left: 5%;
  }
  .homeCardWrapper {
    width: 100%;
  }
}
