.ButtonG{
    background: #1C8549;
    color: white;
    right: 0;
    margin: 3vw 2vw 3vw 0px;
    font-size: .8em;
    font-weight: 400;
    padding: 2vw 7vw;
    border: none;
    /* border-radius: 10px; */
    white-space: nowrap;
    display: flex
}
.ButtonB{
    display: none;
}
.ButtonContainer{
    display: flex;
    justify-content: space-between;
}
.SVG{
    display: none;
}
@media only screen and(min-width:956px){
    .ButtonG{
        background: #1C8549;
        color: white;
        right: 0;
        margin: 3vw 2vw 3vw 0px;
        font-size: 1.2vw;
        font-weight: 400;
        padding: .8vw 5vw;
        border: none;
        border-radius: 10px;
        white-space: nowrap;
        display: flex
    }
    .ButtonB{
        background: #4A788D;
        color: white;
        /* position: absolute; */
        right: 0;
        margin: 3vw 2vw 3vw 0px;
        font-size: 1.2vw;
        font-weight: 400;
        padding: .8vw 5vw;
        border: none;
        border-radius: 10px;
        white-space: nowrap;
        display: flex;
    }
    .SVG{
        display: block;
        padding-right: 10px;
    }
}