.ColumsCont{
  justify-content: space-around;
}
.Footer_col_emo{
  width: 100%;
  margin-top: 3vw;
  display: flex;
  justify-content: space-around;
}
.FooterSub{
  width:100%;
  justify-content: space-around;
  background-color: #F2F2F2;
  padding: 6vw 3vw 6vw;
  color: #333333;
}
.Colums > h3 {
  font-size: 6vw;
  /* border-bottom: 1px solid #4F4F4F; */
  margin-bottom: 1vw;
  margin-top: 1vw;
}
.Colums > li  {
  font-size: 4vw;
  line-height: 5vw;
  font-weight: 300;
}
@media only screen and (min-width: 450px){
.Colums > h3{
  font-size: 3.5vw;
}
.Colums >li{
  font-size: 2.5vw;
  line-height: 3vw;
}
}
@media only screen and (min-width: 700px){
  .Colums > h3{
    font-size: 3vw;
  }
  .Colums >li{
    font-size: 2vw;
    line-height: 3vw;
  }
  .FooterSub{
    padding: 3vw 1vw 2vw;
  }
}
@media only screen and (min-width: 850px){
  .ColumsCont{
    display: flex
  }
  .Colums >li{
    font-size: 1.4vw;
  }
  .Colums >h3{
    font-size: 2vw;
  }

}
@media only screen and (min-width: 1100px) {
  .FooterSub{
    display: flex;
  }
  .Colums {
    display:block;  
    padding-right:2vw ;
  }
  .Colums > h3 {
    font-size: 1..7vw;
    /* border-bottom: 1px solid #4F4F4F; */
    margin-bottom: 1vw;
  }
  .Colums > li  {
    font-size: 1.2vw;
    line-height: 2  .3vw;
    font-weight: 300;
  }
  .ColumsCont{
    display: flex;
  }
  .Footer_col_emo{
    width: 50px;
    display: grid;
  }
}
@media only screen and (min-width: 1500px){
  .Colums >h3{
   font-size: 1.5vw;
  }
  .Colums >li{
    font-size: 1vw;
    line-height: 2.3vw;
  }
}