.mu_subsec {
  padding: 2% 5%;
  background: #333333;
}
.mu_search {
  width: 100%;
}
.mu_search {
  font-size: 1.4em;
  padding: 1em 2.5em;
  margin: 0.4em 0;
  border-radius: 25px;
}
.Footer_row {
  display: inline;
  color: white;
  align-items: baseline;
}
.Footer_row div > h3 {
  text-decoration: underline white;
  font-size: 1.6em;
  padding: 1.3vw 0em;
}
.Footer_row div > a {
  line-height: 1.6em;
  font-size: 3vw;
}

.Footer_col_emo {
  display: flex;
  margin-top: 5%;
}

.Footer_col_emo ul {
  padding-left: 0;
  padding-right: 2em;
}
.col{
  display: grid;
}
@media only screen and (min-width: 768px) {
  .Footer_row {
    display: flex;
  }
  .Footer_col_emo {
    text-align: center;
    display: inline;
    margin-top: 0%;
    position: absolute;
    right: 4.5%;
    align-self: flex-end;
    
  }
  .Footer_col_emo ul {
    padding: 10px;
  }
  .ImageIcon{
    height: 2.8vw;
    width: 2.5vw;
  }
  .Footer_row div > a {
    /* line-height: 1.6em; */
    font-size: 1vw;
  }
}
