.hs_cont {
  background: url("../../assets/bg4.png");
  height: 80vh;
  background-size: 100% 100%;
}
.hs_text {
  padding: 2em 3.2vw 1em;
  font-size: 3.2em;
}
.hs_cont > input {
  margin: 0.2em 3.2vw;
  font-size: 1.2em;
  padding: 0.8em 2em;
  width: 30vw;
  border-radius: 10px;
  border: none;
}
