@import "../../styles/vars.scss";

.homeExamsSection {
  padding: 5%;
  /* background-color: #f2f2f2; */
}
.homeExamsHeading {
  border-left: 5px solid #333366;
  padding-left: 2%;
}

.homeExamsHeading > h2 {
  margin: 0;
  color: #333366;
  font-size: 2.5em;
}

.homeExamsHeading > p {
  margin-top: 8px;
}

.homeExamsCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2% 5%;
}
.homeCardWrapper > div {
  height: 100%;
}
.homeCardWrapper {
  width: 45%;
  padding: 0.5em;
}

.homeExamsBtnWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
}

.homeExamsBtnWrapper > button {
  background-color: $primary-color;
  padding: 0.8% 2%;
  border-radius: 8px;
  border: none;
  margin-top: 2%;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .homeExamsHeading > h2 {
    font-size: 2em;
  }

  .homeExamsHeading > p {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 600px) {
  .homeCardWrapper {
    width: 100%;
  }
}
